In [1]:
# --- bootstrap: find src/quantlib ---
import sys
from pathlib import Path

def add_src_to_path(pkg="quantlib", levels_up=3):
    here = Path.cwd().resolve()
    candidates = [here / "src"] + [here.parents[i] / "src" for i in range(levels_up)]
    for p in candidates:
        if (p / pkg / "__init__.py").exists():
            sys.path.insert(0, str(p)); print(f"[OK] sys.path += {p}"); return
    raise FileNotFoundError("src/quantlib not found")

add_src_to_path()

[OK] sys.path += C:\Users\quantbase\Desktop\quant\src

In [2]:
# --- 0) Imports & paths -------------------------------------------------------
from datetime import date, timedelta
from pathlib import Path
import pandas as pd
from pandas.tseries.offsets import BDay
from jugaad_data.nse import stock_df  # historical OHLCV to DataFrame
from quantlib.io import load_index_and_merge
from quantlib import io as qio
import importlib

In [3]:
#from pathlib import Path

def get_index_name(int_dir: Path, panel_cols) -> str:
    """Try meta file, else regex heuristic among panel columns."""
    meta = int_dir / "index_meta.txt"
    if meta.exists():
        txt = meta.read_text(encoding="utf-8").strip()
        if txt and txt in panel_cols:
            return txt
    # Heuristic: look for NIFTY* / BANKNIFTY* etc.
    import re
    pats = [r'^NIFTY\d*$', r'^BANKNIFTY\d*$', r'^NIFTYBANK$', r'^NIFTY500$', r'^NIFTYMIDCAP\d*$']
    for c in panel_cols:
        up = str(c).upper().replace(" ", "")
        if any(re.match(p, up) for p in pats):
            return c
    return ""

In [4]:
importlib.reload(qio)

In [5]:
# --- 1) Configure root & today's run folder ----------------------------------
ROOT = Path(r"C:\Users\quantbase\Desktop\quant")
RUN_DATE = "28-09-2025"  # <Format "DD-MM-YYYY"
RUN_DIR  = ROOT / RUN_DATE


RAW = RUN_DIR / "data_raw"
INT = RUN_DIR / "data_int"
FIG = RUN_DIR / "figures"
for p in (RAW, INT, FIG):
    p.mkdir(parents=True, exist_ok=True)

In [6]:
# --- 2) User inputs -----------------------------------------------------------
# You can pass a single ticker string or a list of tickers.
# (Keep these as NSE tickers; if you want “friendly names → tickers” we can add a map later.)
symbols = [
    "NEWGEN",
    "UJJIVANSFB",
    "RVNL",
    "TATACONSUM",
    "DATAPATTNS",
    "BAJFINANCE",
    "AVALON",
    "MCX",
    "INDIGO",          # InterGlobe Aviation
    "IRFC",
    "HDFCBANK",
    "DMART",           # Avenue Supermarts
    "AXISBANK",
    "CDSL",            # Central Depository Services
    "IRCTC",
    "ADANIPORTS",
    "ZOMATO",          # “Eternal (Zomato)” → using ZOMATO symbol
    "INOXINDIA",
    "ACI",             # Archean Chem Inds
    "MAZDOCK",
    "SWIGGY",
    "SYNGENE",
    "PPL",             # Prakash Pipes
    "AEROFLEX",
    "IDFCFIRSTB",
    "VINCOFE",         # Vintage Coffee
    "KOTAKBANK",
    "SBICARD",
    "ADANIENT",
    "SBIN",
    "JIOFIN",
    "CASTROLIND",
    "HAPPSTMNDS",
    "HAL",
    "FEDERALBNK",
    "IREDA",           # India Renewable Energy Dev. Agency
    "WAAREERTL",
    "TATAPOWER",
    "KELLTONTEC",
    "PREMIERENE",
    "CLEAN",           # Clean Science
    "COALINDIA",
    "RTNPOWER",
    "BHEL",
    "WHIRLPOOL",
    "VBL",             # Varun Beverages
    "LATENTVIEW",
    "BANDHANBNK",
    "HFCL",
    "AETHER",
    "SPANDANA",
    "SONACOMS",        # Sona BLW Precision
    "IEX",
    "DCXINDIA",
    "MTARTECH",
    "TATAELXSI",
    "PRINCEPIPE",
    "RAILTEL",          # Returns are not available:
    "MANINDS",        # MAN Industries
    "COCHINSHIP",     # Cochin Shipyard
    "JYOTIRESINS",
]  # e.g., basket

t_days  = 1260                                        # e.g., past 1Y of business days
series  = "EQ"

In [7]:
from datetime import date
from pandas.tseries.offsets import BDay

In [10]:
# past t business days → [from_date, to_date]
to_dt   = pd.Timestamp.today().normalize()
from_dt = (to_dt - BDay(t_days)).date()
to_dt_d = to_dt.date()   # <-- convert to plain date

Fetching 61 symbol(s) from 2020-11-30 to 2025-09-29 (series=EQ) into C:\Users\quantbase\Desktop\quant\28-09-2025\data_raw

In [ ]:
# then call Jugaad on date objects:
df = qio.fetch_stocks_to_csv(symbols, from_dt, to_dt, RAW, series="EQ", sleep_s=0.3)

print(f"Fetching {len(symbols)} symbol(s) from {from_dt} to {to_dt_d} (series={series}) into {RAW}")

In [11]:
# --- 3) Fetch loop: one CSV per symbol ---------------------------------------
fetched = []
errors  = []

for sym in symbols:
    try:
        df = stock_df(symbol=sym, from_date=from_dt, to_date=to_dt_d, series=series)
        # Standardize a bit to match your pipeline expectations
        # Ensure 'date' index and keep only what we need (you can keep OHLCV if you like)
        if not df.empty:
            # Normalize columns (jugaad_data already returns 'DATE','OPEN','HIGH','LOW','CLOSE','VOLUME','SERIES','SYMBOL' typically)
            # We'll ensure datetime index and sort:
            df["DATE"] = pd.to_datetime(df["DATE"])
            df = df.sort_values("DATE").set_index("DATE")
            # Save raw CSV exactly as fetched for auditability
            out_csv = RAW / f"{sym}.csv"
            df.to_csv(out_csv, index=True, date_format="%Y-%m-%d")
            fetched.append(sym)
        else:
            print(f"⚠️ Empty frame for {sym} (maybe too-new listing or no trades in range).")
    except Exception as e:
        print(f"❌ Error fetching {sym}: {e}")
        errors.append((sym, str(e)))

print(f"Done. OK: {len(fetched)}  Failed: {len(errors)}")

❌ Error fetching JYOTIRESINS: "None of [Index(['CH_TIMESTAMP', 'CH_SERIES', 'CH_OPENING_PRICE', 'CH_TRADE_HIGH_PRICE',\n       'CH_TRADE_LOW_PRICE', 'CH_PREVIOUS_CLS_PRICE', 'CH_LAST_TRADED_PRICE',\n       'CH_CLOSING_PRICE', 'VWAP', 'CH_52WEEK_HIGH_PRICE',\n       'CH_52WEEK_LOW_PRICE', 'CH_TOT_TRADED_QTY', 'CH_TOT_TRADED_VAL',\n       'CH_TOTAL_TRADES', 'CH_SYMBOL'],\n      dtype='object')] are in the [columns]"
Done. OK: 60  Failed: 1

In [12]:
# --- 4) Build Close matrix (anchor left-join) --------------------------------
# Read back just what we saved, keep only 'CLOSE'
per_symbol = {}
for sym in fetched:
    dfi = pd.read_csv(RAW / f"{sym}.csv", parse_dates=["DATE"])
    if "CLOSE" not in dfi.columns:
        print(f"⚠️ {sym} missing CLOSE; skipping.")
        continue
    dfi = dfi[["DATE","CLOSE"]].rename(columns={"DATE":"date","CLOSE":"close"})
    dfi = dfi.dropna(subset=["date","close"]).sort_values("date")
    dfi = dfi.set_index("date")
    # force numeric 'close'
    dfi["close"] = pd.to_numeric(dfi["close"], errors="coerce")
    per_symbol[sym] = dfi

In [13]:
# Choose an anchor (longest history) to preserve rows; then left-join others
if not per_symbol:
    raise RuntimeError("No usable symbols fetched; nothing to build.")

# anchor = symbol with most rows
anchor_sym = max(per_symbol.items(), key=lambda kv: len(kv[1]))[0]
prices_close = per_symbol[anchor_sym][["close"]].rename(columns={"close": anchor_sym})

for sym, dfi in per_symbol.items():
    if sym == anchor_sym: 
        continue
    prices_close = prices_close.join(dfi["close"].rename(sym), how="left")

# Optional: keep only positive closes
prices_close = prices_close.where(prices_close > 0)

# --- 5) Save artifacts & quick coverage --------------------------------------
prices_close.to_csv(INT / "prices_close_anchor_leftjoin.csv")
prices_close.to_pickle(INT / "prices_close_anchor_leftjoin.pkl")

In [14]:
# Coverage summary
cov = []
for sym in prices_close.columns:
    s = prices_close[sym].dropna()
    cov.append((sym, len(s), s.index.min().date() if not s.empty else None,
                      s.index.max().date() if not s.empty else None))
coverage = pd.DataFrame(cov, columns=["symbol","rows","start","end"]).sort_values("rows", ascending=False)
coverage.to_csv(INT / "coverage.csv", index=False)

print(f"\nAnchor: {anchor_sym}")
print(f"Panel shape: {prices_close.shape} (dates x symbols)")
print(f"Saved: {INT/'prices_close_anchor_leftjoin.pkl'}, {INT/'coverage.csv'}")

Anchor: UJJIVANSFB
Panel shape: (1205, 60) (dates x symbols)
Saved: C:\Users\quantbase\Desktop\quant\28-09-2025\data_int\prices_close_anchor_leftjoin.pkl, C:\Users\quantbase\Desktop\quant\28-09-2025\data_int\coverage.csv

In [15]:
# Sanity: a quick peek
display(coverage.head(10))
display(coverage.tail(10))
display(prices_close.head())

        symbol  rows       start         end
0   UJJIVANSFB  1205  2020-12-01  2025-09-26
27     SBICARD  1205  2020-12-01  2025-09-26
21     SYNGENE  1205  2020-12-01  2025-09-26
22         PPL  1205  2020-12-01  2025-09-26
47  BANDHANBNK  1205  2020-12-01  2025-09-26
24  IDFCFIRSTB  1205  2020-12-01  2025-09-26
45         VBL  1205  2020-12-01  2025-09-26
26   KOTAKBANK  1205  2020-12-01  2025-09-26
28    ADANIENT  1205  2020-12-01  2025-09-26
37   TATAPOWER  1205  2020-12-01  2025-09-26

        symbol  rows       start         end
53    DCXINDIA   666  2022-11-11  2025-09-26
6       AVALON   617  2023-04-18  2025-09-26
23    AEROFLEX   523  2023-08-31  2025-09-26
30      JIOFIN   521  2023-09-04  2025-09-26
35       IREDA   463  2023-11-29  2025-09-26
17   INOXINDIA   447  2023-12-21  2025-09-26
39  PREMIERENE   274  2024-09-03  2025-09-26
25     VINCOFE   242  2024-10-18  2025-09-26
20      SWIGGY   224  2024-11-13  2025-09-26
36   WAAREERTL   124  2025-04-09  2025-09-26

,UJJIVANSFB,NEWGEN,RVNL,TATACONSUM,DATAPATTNS,BAJFINANCE,AVALON,MCX,INDIGO,IRFC,...,SPANDANA,SONACOMS,IEX,DCXINDIA,MTARTECH,TATAELXSI,PRINCEPIPE,RAILTEL,MANINDS,COCHINSHIP
date,,,,,,,,,,,,,,,,,,,,,
2020-12-01,38.05,267.40,22.95,529.30,NaN,4861.10,NaN,1592.25,1559.75,NaN,...,752.00,NaN,218.00,NaN,NaN,1628.6,264.80,NaN,74.75,369.50
2020-12-02,37.95,267.40,23.10,539.25,NaN,4823.90,NaN,1567.70,1593.10,NaN,...,751.80,NaN,216.80,NaN,NaN,1684.3,272.70,NaN,75.10,365.70
2020-12-03,37.95,273.80,23.75,550.40,NaN,4867.45,NaN,1571.15,1644.05,NaN,...,751.30,NaN,215.00,NaN,NaN,1691.4,269.55,NaN,78.40,360.50
2020-12-04,38.05,271.15,24.05,563.50,NaN,4875.35,NaN,1566.05,1744.80,NaN,...,742.95,NaN,215.50,NaN,NaN,1669.8,265.30,NaN,75.95,365.00
2020-12-07,40.75,273.20,24.65,567.85,NaN,4829.45,NaN,1563.60,1740.30,NaN,...,729.85,NaN,214.25,NaN,NaN,1698.1,269.50,NaN,86.80,369.65

In [16]:
# ------------------ Index CSV

In [17]:
# --- 1) Configure root & today's run folder ----------------------------------
ROOT = Path(r"C:\Users\quantbase\Desktop\quant")
RUN_DATE = "28-09-2025"  # <Format "DD-MM-YYYY"
RUN_DIR  = ROOT / RUN_DATE


RAW = RUN_DIR / "data_raw"
INT = RUN_DIR / "data_int"
FIG = RUN_DIR / "figures"

In [18]:
info = load_index_and_merge(
    INT, RAW,
    prefer=["NIFTY50", "NIFTYBANK"]   # optional preference order
    # panel_candidates=["prices_close_anchor_leftjoin.pkl"],  # optional override
)

print(info)

{'panel_path': 'C:\\Users\\quantbase\\Desktop\\quant\\28-09-2025\\data_int\\prices_close_anchor_leftjoin.pkl', 'out_pkl': 'C:\\Users\\quantbase\\Desktop\\quant\\28-09-2025\\data_int\\prices_close_anchor_leftjoin_with_index.pkl', 'out_csv': 'C:\\Users\\quantbase\\Desktop\\quant\\28-09-2025\\data_int\\prices_close_anchor_leftjoin_with_index.csv', 'index_name': 'NIFTY50', 'shape': (1205, 61), 'meta_path': 'C:\\Users\\quantbase\\Desktop\\quant\\28-09-2025\\data_int\\index_meta.txt'}

In [19]:
info = qio.load_index_and_merge(INT, RAW, prefer=["NIFTY50"])
print(info)

{'panel_path': 'C:\\Users\\quantbase\\Desktop\\quant\\28-09-2025\\data_int\\prices_close_anchor_leftjoin.pkl', 'out_pkl': 'C:\\Users\\quantbase\\Desktop\\quant\\28-09-2025\\data_int\\prices_close_anchor_leftjoin_with_index.pkl', 'out_csv': 'C:\\Users\\quantbase\\Desktop\\quant\\28-09-2025\\data_int\\prices_close_anchor_leftjoin_with_index.csv', 'index_name': 'NIFTY50', 'shape': (1205, 61), 'meta_path': 'C:\\Users\\quantbase\\Desktop\\quant\\28-09-2025\\data_int\\index_meta.txt'}

In [20]:

cov = []
for sym in prices_close.columns:
    s = prices_close[sym].dropna()
    cov.append((sym, len(s), s.index.min().date() if not s.empty else None,
                      s.index.max().date() if not s.empty else None))
coverage = pd.DataFrame(cov, columns=["symbol","rows","start","end"]).sort_values("rows", ascending=False)
coverage.to_csv(INT / "coverage.csv", index=False)

print(f"\nAnchor: {anchor_sym}")
print(f"Panel shape: {prices_close.shape} (dates x symbols)")
print(f"Saved: {INT/'prices_close_anchor_leftjoin_with_index.pkl'}, {INT/'coverage.csv'}")

Anchor: UJJIVANSFB
Panel shape: (1205, 60) (dates x symbols)
Saved: C:\Users\quantbase\Desktop\quant\28-09-2025\data_int\prices_close_anchor_leftjoin_with_index.pkl, C:\Users\quantbase\Desktop\quant\28-09-2025\data_int\coverage.csv

In [50]:
# Sanity: a quick peek
display(coverage.head(10))
display(coverage.tail(10))
display(prices_close.head())

        symbol  rows       start         end
0          ACI   248  2024-10-10  2025-09-26
45         VBL   248  2024-10-10  2025-09-26
32  HAPPSTMNDS   248  2024-10-10  2025-09-26
33         HAL   248  2024-10-10  2025-09-26
34  FEDERALBNK   248  2024-10-10  2025-09-26
35       IREDA   248  2024-10-10  2025-09-26
37   TATAPOWER   248  2024-10-10  2025-09-26
38  KELLTONTEC   248  2024-10-10  2025-09-26
39  PREMIERENE   248  2024-10-10  2025-09-26
40       CLEAN   248  2024-10-10  2025-09-26

        symbol  rows       start         end
21     SYNGENE   248  2024-10-10  2025-09-26
22         PPL   248  2024-10-10  2025-09-26
23    AEROFLEX   248  2024-10-10  2025-09-26
24  IDFCFIRSTB   248  2024-10-10  2025-09-26
26   KOTAKBANK   248  2024-10-10  2025-09-26
27     SBICARD   248  2024-10-10  2025-09-26
25     VINCOFE   242  2024-10-18  2025-09-26
20      SWIGGY   224  2024-11-13  2025-09-26
59  COCHINSHIP   194  2024-12-30  2025-09-26
36   WAAREERTL   124  2025-04-09  2025-09-26

,ACI,NEWGEN,UJJIVANSFB,RVNL,TATACONSUM,DATAPATTNS,BAJFINANCE,AVALON,MCX,INDIGO,...,SPANDANA,SONACOMS,IEX,DCXINDIA,MTARTECH,TATAELXSI,PRINCEPIPE,RAILTEL,MANINDS,COCHINSHIP
date,,,,,,,,,,,,,,,,,,,,,
2024-10-10,670.95,1314.05,40.43,480.55,1114.15,2497.05,7319.70,619.95,6193.15,4665.15,...,554.70,670.80,202.37,326.05,1801.75,7759.30,548.60,405.20,350.05,NaN
2024-10-11,672.35,1373.30,40.15,475.40,1113.10,2474.50,7302.00,626.55,6410.55,4693.45,...,538.15,665.10,204.59,322.05,1807.80,7675.15,546.95,407.95,352.05,NaN
2024-10-14,669.65,1350.85,39.90,470.50,1113.55,2436.45,7208.80,629.30,6504.50,4678.95,...,526.00,660.10,196.18,322.45,1780.75,7573.50,544.25,410.30,348.35,NaN
2024-10-15,668.50,1296.00,39.91,474.20,1115.25,2513.00,7016.90,614.80,6511.00,4756.45,...,514.70,656.80,191.60,316.15,1801.40,7469.10,544.35,408.10,347.80,NaN
2024-10-16,664.35,1269.55,39.62,479.60,1113.95,2531.05,6956.35,608.65,6428.30,4699.85,...,504.85,662.55,194.65,317.55,1779.10,7400.50,541.25,438.65,330.25,NaN

In [21]:
panel = pd.read_pickle(info["out_pkl"])
panel.tail()

,UJJIVANSFB,NEWGEN,RVNL,TATACONSUM,DATAPATTNS,BAJFINANCE,AVALON,MCX,INDIGO,IRFC,...,SONACOMS,IEX,DCXINDIA,MTARTECH,TATAELXSI,PRINCEPIPE,RAILTEL,MANINDS,COCHINSHIP,NIFTY50
2025-09-22,44.77,898.10,358.90,1130.1,2814.2,1006.50,978.25,7989.5,5747.5,128.54,...,420.60,146.09,272.80,1807.6,5607.0,341.15,387.45,439.40,1922.9,25202.35
2025-09-23,45.21,884.20,357.60,1128.5,2773.3,1025.50,1011.85,8038.5,5732.0,127.29,...,421.35,143.91,269.20,1869.0,5555.5,344.95,382.45,452.70,1885.4,25169.50
2025-09-24,45.01,875.50,347.65,1140.1,2737.9,1029.75,1001.20,7955.5,5686.0,125.59,...,416.80,140.41,265.90,1929.2,5504.5,337.20,374.15,436.60,1895.0,25056.90
2025-09-25,44.97,909.45,346.55,1134.2,2752.8,1012.75,996.60,8023.0,5674.5,124.08,...,409.65,139.82,262.95,1898.3,5461.5,330.35,380.60,424.55,1926.9,24890.85
2025-09-26,44.18,888.60,337.80,1119.0,2654.9,985.10,993.95,7920.5,5561.0,121.91,...,407.10,137.76,257.00,1879.0,5303.0,329.30,377.95,413.50,1874.2,24654.70

In [22]:
panel["NIFTY50"].head()

2020-12-01    13109.05
2020-12-02    13113.75
2020-12-03    13133.90
2020-12-04    13258.55
2020-12-07    13355.75
Name: NIFTY50, dtype: float64